
.password-container{
    position: relative;
    display: flex;
    align-items: center;
}

.password-input {
    padding-left: 30px; /* Space for the icon */
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.eye-design {
    position: absolute;
    left: 235px; /* Adjust this value to position the icon */
    cursor: pointer;
    color: #888;
}