
.password-container{
    position: relative; /* for later managing the position of the eye */
    display: flex; /* adjusting the size of the input field */
    align-items: center;
}

.password-input {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 33px; /* Space for the icon */
    width: 91%;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
    margin: 3px;
    
}
.eye-design {
    position: absolute; /* to position the icon inside the box like a combined component */
    right: 10px; /* Adjust this value to position the icon */
    cursor: pointer;
    color: #888;
}