
.password-container{
    position: relative; /* for later managing the position of the eye */
    display: flex; /* adjusting the size of the input field */
    align-items: center;
}

.password-input {
    padding-left: 30px; /* Space for the icon */
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
}
.eye-design {
    position: absolute; /* to position the icon inside the box like a combined component */
    left: 235px; /* Adjust this value to position the icon */
    cursor: pointer;
    color: #888;
}