
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 35%;
    left: 43%;
}
.form-container{
    border: thin;
    box-shadow: 0px 2px 4px 0px;
}

.login-text{
    font-weight: bold;
    color: blue;
    justify-content: center;
    
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}