body{ /*  To remove the space present at the top of the webpage */
    margin: 0;
    padding: 0;
}

.navbar-container{
    background-color: rgba(189, 218, 236, 0.354); 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex; /* a long Navbar extension with height managed */
    align-items: center;
    justify-content: space-between;
    height: 110px;
    box-shadow: 0px 5px 4px 0px; /*  Used to put shadow */
    border-radius: 5px;
    
}

.navbar-heading{
    color: black;
    font-weight: bold;
    font-size: 4rem;
    padding: 30px 10px; /* Notes position*/
    margin: 1px 2px 2px 0px;
    display: inline-flex;
}